
@import "~antd/dist/antd.css";
html{

  background:#F0F4F7 !important;

}
body{
  
  font-family: 'Quicksand', sans-serif;
}
.App {
  font-family: 'Quicksand', sans-serif;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*  New Styles */

.gen-btn{
  background: #018FEE;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.gen-btn:hover{
  background: #0099FF;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.main-head{
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  color: #2c3e50;
  padding-top: 10vh;
  
}
.main-div{
  
 
  width:600px;
margin:0 auto;
padding-bottom:40px;
  
 
}
.card-head{
  color: #2c3e50;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}
.card-head-sm{
  color: #2c3e50;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}
.uk-card-default{
  border-radius: 20px;
  border: 1px solid #ecf0f1;
  box-shadow: 0 3px 5px rgba(0,0,0,.08);
}
.ant-avatar > img{
  background: #fff;
  margin-top: -4px;
}
.login-bg{
 
  width: 70vw;
  margin: 0 auto;
  margin-top: 10vh;
}
.login-btn{
  background: #0099FF;
  color: #fff;
  height: 40px;
  padding: 0px 16px;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 0px 16px;
  box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.06);
  font-size: 15px;
  font-weight: 500;
}
.login-btn:hover{
  background: #2384c4;
  color: #fff;
  height: 40px;
  padding: 0px 16px;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 0px 16px;
  box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.06);
  font-size: 15px;
  font-weight: 500;
}
.login-btn:focus{
  background: #115b8b;
  color: #fff;
  height: 40px;
  padding: 0px 16px;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 0px 16px;
  box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.06);
  font-size: 15px;
  font-weight: 500;
}
.already-text{
  color:#666666;
}
.login-img{
  height: 90px;
  margin: 0 auto;
}
.uk-navbar-nav>li>a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2c3e50;

}
.ant-modal-header{
  border-bottom: none;
}
.ant-modal-footer{
  display: none;
}
.ant-input{
  color: #333333;
 border-radius: 10px;
background: #EBEBEB;
  height: 50px;
}
.span-head{
  font-weight: 600;
    margin-right: 10px;
}